<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Point</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <nav>
      <ul>
        <li class="logotipo"><a href="#">Dev Point</a></li>
        <li class="hideMobile"><a href="#">Início</a></li>
        <li class="hideMobile"><a href="#">Serviços</a></li>
        <li class="hideMobile"><a href="#">Projetos</a></li>
        <li class="hideMobile"><a href="#">Blog</a></li>
        <li class="hideMobile"><a href="#">Contato</a></li>
        
        <li id="menuIcon" class="hideDesktop">
          <a href="#">
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              />
            </svg>
          </a>
        </li>
      </ul>

      <ul id="sidebar">
        <li id="closeIcon">
          <a href="#">
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
          </a>
        </li>
        <li><a href="#">Início</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Projetos</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>

    <div class="content">
      <h1>Olá programador(a).</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa
        quae doloremque.
      </p>
    </div>
  </body>
</html>
