h1{
    text-align: center;
}

.cabeca{
    font-size: small;
    color: gray;
}

.cabeca a{
    color: red;
    text-decoration: none;
}

body{
    background: rgb(235, 234, 233);
}

.txtprin{
    display: block;
}

.container div{
    width: 48%;
    display: inline-block;
}

footer{
    background: black;
    color: white;
    
}