@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shadows+Into+Light&display=swap');
.cabecalho{
    font-size: 0.8em;
    text-align: center;
}
.titulo{
    text-transform: uppercase;
    text-align: center;
    font-family: "Anton", sans-serif;
}
.versiculo{
    font-size: 1.3em;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
}
.texto{
    font-size: 1.1em;
    line-height:1.5em;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}
.importante{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: green;
    font-family: "Nunito", sans-serif;
}
.desafio{
    font-style: italic;
    text-align: center;
    background-color: rgb(160, 157, 157);
    padding: 20px;
    font-family: "Nunito", sans-serif;
}